In [9]:
import pandas as pd
import numpy as np

if __name__ == '__main__':
    user_table = pd.read_csv('../DataSet/tianchi_fresh_comp_train_user.csv')
    item_table = pd.read_csv('../DataSet/tianchi_fresh_comp_train_item.csv')
    user_table = user_table[user_table.item_id.isin(list(item_table.item_id))]
    
    user_table['days'] = user_table['time'].map(lambda x:x.split(' ')[0])
    user_table['hours'] = user_table['time'].map(lambda x:x.split(' ')[1])
    #user_table = user_table[user_table['days'] != '2014-12-12'] #双十二前一天大家已经开始囤货，双十二当天可能受促销影响严重。但这是猜测，需要数据说话。
    #user_table = user_table[user_table['days'] != '2014-12-11']
    #user_table.to_csv('../DataSet/drop1112_sub_item.csv',index=None)
    user_table.to_csv('../DataSet/drop_null_sub_item.csv',index=None)

In [12]:
#item_table.item_id
print(type(user_table))
print('\n')
print(user_table.size)
user_table.head(5)

<class 'pandas.core.frame.DataFrame'>


15123688

,user_id,item_id,behavior_type,user_geohash,item_category,time,days,hours
13,10001082,275221686,1,NaN,10576,2014-12-03 01,2014-12-03,01
14,10001082,97441652,1,NaN,10576,2014-11-20 21,2014-11-20,21
15,10001082,275221686,1,NaN,10576,2014-12-13 14,2014-12-13,14
16,10001082,275221686,1,NaN,10576,2014-12-08 07,2014-12-08,07
24,10001082,125083630,1,NaN,4722,2014-12-14 03,2014-12-14,03

In [14]:
i=1234
str(1)

'1'